{
  "psi_config": {
    "protocol_config": {
      "protocol": "PROTOCOL_RR22",
      "role": "ROLE_SENDER",
      "broadcast_result": true
    },
    "input_config": {
      "type": "IO_TYPE_FILE_CSV",
      "path": "/work/sender/psi_input.csv"
    },
    "output_config": {
      "type": "IO_TYPE_FILE_CSV",
      "path": "/work/sender/psi_output.csv"
    },
    "keys": ["SK_ID_CURR"],
    "debug_options": {
      "trace_path": "/work/sender/sender.trace"
    },
    "disable_alignment": false,
    "advanced_join_type": "ADVANCED_JOIN_TYPE_UNSPECIFIED",
    "left_side": "ROLE_RECEIVER",
    "check_hash_digest": false,
    "recovery_config": {
      "enabled": false
    }
  },
  "self_link_party": "sender",
  "link_config": {
    "parties": [
      {"id": "receiver", "host": "receiver:5300"},
      {"id": "sender", "host": "sender:5400"}
    ]
  }
}
